html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 90vh;
}

body {
  margin-bottom: 60px;
}
.ok{
  min-height:90vh;
}

.primaryly{
  background-color:#5b5b85;
}
.ee{
  background-color: #eeeeee;
}
.p-n1{
  padding:-1em 0;
}